* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  background: #000000;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
}

/* MAIN SECTION */

.auth-section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 40px;
}

.auth-section h2 {
  color: white;
}
.auth-section p {
  color: white;
  margin-top: 10px;
  font-size: 1rem;
}

/* LEFT IMAGE SIDE */

.auth-image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0, 245, 255, 0.15);
  background: rgba(255, 255, 255, 0.03);
}

.auth-image img {
  width: 100%;
  height: 100%;
  padding: 0 2px;
}

/*Auth CONTAINER */

.register-container, .login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */

.register-header, .login-header {
  text-align: center;
  margin-bottom: 35px;
}

.login-header img, .register-header img {
  border-radius: 16px;
  border: 2px solid cyan;
  padding: 5px;
  box-shadow: 0 0 10px rgba(250, 250, 250, 0.679);
}

.login-header h1, .register-header h1 {
  font-size: 3rem;
  margin-top: 20px;
  color: white;
}

.login-header p, .register-header p {
  color: white;
  margin-top: 10px;
  font-size: 1rem;
}

/* AUTH BOX */

.auth-box h2,
.login-auth-box h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.auth-text {
  line-height: 1.7;
  margin-bottom: 35px;
}

.auth-box input,
.login-auth-box input {
  width: 100%;
  padding: 18px 20px;
  margin-bottom: 20px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  color: var(--white);
  outline: none;
  transition: 0.4s ease;
  font-size: 1rem;
  color: white;
  border: 1px solid rgba(128, 0, 128, 0.441);
  background-color: black;
}

.auth-box input:focus,
.login-auth-box input:focus {
  border-color: white;
  box-shadow: 0 0 20px rgba(0, 245, 255, 0.2);
}

.auth-box input::placeholder,
.login-auth-box input::placeholder {
  color: white;
}

.auth-box button,
.login-auth-box button {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 14px;
  margin-top: 10px;
  background-color: black;
  color: #050816;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}

.auth-box button:hover,
.login-auth-box button:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 245, 255, 0.3);
}

/* SWITCH AUTH */

.switch-auth {
  margin-top: 25px;
  text-align: center;
  color: var(--gray);
}

.switch-auth a {
  color: var(--cyan);
  text-decoration: none;
  font-weight: 700;
}

.switch-auth a:hover {
  text-decoration: underline;
}

/* ERROR */

#registerError,
#loginError {
  margin-top: 20px;
  color: #ff4d6d;
  text-align: center;
}

/* LOGIN AUTH BOX */

.login-auth-box, .auth-box {
  width: 100%;
  max-width: 500px;
  padding: 45px;
  border-radius: 30px;
  background: black;
  border: 1px solid rgba(128, 0, 128, 0.573);
}

.login-auth-box:hover, .auth-box:hover {
  border-color: #8b5cf6;
}

.login-auth-box button, .auth-box button {
  color: white;
  border: 1px solid rgba(128, 0, 128, 0.441);
}


/* RESPONSIVE */

@media (max-width: 700px) {
  .login-header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1000px) {
  .auth-section {
    grid-template-columns: 1fr;
  }

  .auth-image {
    height: 400px;
  }
}

@media (max-width: 700px) {
  .auth-section {
    padding: 20px;
  }

  .auth-box,
  .login-auth-box {
    padding: 30px;
  }

  .register-header h1 {
    font-size: 2.2rem;
  }

  .auth-box h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .auth-image {
    height: 300px;
  }

  .auth-box,
  .login-auth-box {
    padding: 25px;
  }

  .auth-box input,
  .login-auth-box input {
    padding: 16px;
  }

  .auth-box button {
    padding: 16px;
  }
}
